.context-bar {
	position: sticky;
	background-color: var(--background-color);
	display: flex;
	// width: 33.3333%;
	flex-flow: row nowrap;
	align-items: flex-start;
	border: var(--border);
	border-top: none;
	border-bottom: none;
	padding: 0.5em;
	z-index: 99;
	h4 {
		margin: 0;
	}
	i {
		font-size: 2em;
		margin-left: 0.3em;
	}
	.profile-context {
		margin: 0;
		margin-left: 2em;
		display: flex;
		flex-flow: column nowrap;
	}
}
