.top-profile {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	border: var(--border);
	border-top: none;
	border-bottom: none;
	padding: 0.5em;
	h4 {
		margin: 0;
	}
	i {
		font-size: 2em;
		margin-left: 0.3em;
	}
	.profile-context {
		margin: 0;
		margin-left: 2em;
		display: flex;
		flex-flow: column nowrap;
	}
}
