.container {
	// margin-top: 1rem;
	padding: 1rem;
}

.create-tweet {
	display: flex;
	padding: 1em;
	.optional-icons {
		width: 100%;
		display: flex;
		justify-content: space-around;
		p {
			margin: 0;
			margin-left: auto;
		}
		i {
			font-size: 1.2em;
		}
		gap: 4em;
		align-items: center;
		margin-bottom: 1em;
	}
}

.submit-button {
	float: right;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 9999px;
}
.divider-h {
	border-top: var(--border);
	margin-top: 1em;
	margin-bottom: 1em;
}
