:root {
	--border: 1px solid rgba(161, 161, 161, 0.5);
	--background-color: rgb(21, 32, 43);
	--hover-color-light: rgb(31, 48, 65);
	--hover-color-medium: rgb(29, 43, 58);
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background-color: var(--background-color);
	color: white;
}

.App {
	height: 100vh;
	display: flex;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}
.cursorpointer {
	cursor: pointer;
}
