.tweet {
	cursor: pointer;
	padding: 1em;
	width: 100%;
	border: var(--border);
	p {
		word-break: break-word;
		overflow-wrap: break-word;
		hyphens: auto;
	}
	.tweet-user {
		h6,
		small {
			margin: 0;
		}
		small {
			opacity: 70%;
		}
		display: flex;
		align-items: center;
		gap: 1em;
		.more-button {
			margin-left: auto;
		}
	}
	.tweet-icons {
		display: flex;
		justify-content: space-between;
	}
	&:hover {
		background-color: var(--hover-color-light);
	}
}
