.tweet {
	cursor: pointer;
	padding: 1em;
	width: 100%;
	border-bottom: var(--border);
	p {
		font-size: 0.95em;
		font-weight: 300;
		word-break: break-word;
		overflow-wrap: break-word;
		hyphens: auto;
	}
	.user-img {
		width: 2.5em;
		height: auto;
	}
	.tweet-user {
		h6 {
			margin: 0;
			font-weight: bold;
		}
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		.more-button {
			margin-left: auto;
		}
	}
	.tweet-info {
		.no-hyperlink {
			color: white;
		}
		small {
			margin-right: 1rem;
			opacity: 70%;
		}
		margin-top: -0.4rem;
		margin-bottom: 0.2rem;
	}
	.tweet-icons {
		display: flex;
		justify-content: space-between;
		margin-right: auto;
		width: 80%;
	}
	&:hover {
		background-color: var(--hover-color-light);
	}
}

.fas {
	&.fa-heart {
		color: #d62929e5;
	}
}
